<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" />

</head>

<body>

    <div class="admin-wrapper">

        <!-- SIDEBAR -->
        <div class="sidebar">

            <div class="sidebar-title">
                Quản trị hệ thống
            </div>

            <a asp-controller="Admin" asp-action="BangDieuKhien">
                Dashboard
            </a>

            <a asp-controller="Admin" asp-action="DanhSachGiaoVien">
               Quản lý Giáo viên
            </a>

            <a asp-controller="Admin" asp-action="DanhSachHocSinh">
               Quản lý Học sinh
            </a>

            <a asp-controller="Admin" asp-action="PhanCongGiangDay">
                Phân công giảng dạy
            </a>

            <a asp-controller="Home" asp-action="DangNhap">
                Đăng xuất
            </a>

        </div>

        <!-- CONTENT -->

        <div class="content">

            <div class="topbar">

                <h5>@ViewData["Title"]</h5>

                <div>
                    Admin
                </div>

            </div>

            <div class="main">

                @RenderBody()

            </div>

        </div>

    </div>

</body>
</html>